@charset "UTF-8";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #f4f5f9;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.App-logo {
  height: 200px;
}

.App-header {
  text-align: center;
  background: url(./stars-bg.jpg) center center;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.button-container {
  font-size: large;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #444;
  margin: 20px 10px 0px;
  padding-bottom: 20px;
}

button {
  border-radius: 6px;
  padding: 13px 29px;
  font-size: 20px;
  flex: 0 0 92%;
  margin: 20px 4% 0px;
}

@media (min-width:720px) {
  button {
    flex: 0 0 44%;
    margin-left: 4%;
    margin-right: 0%;
  }

}

@media (min-width:980px) {
  button {
    flex: 0 0 20%;
    margin-left: 4%;
    margin-right: 0%;
  }

}

button:hover {
  box-shadow: 0 13px 17px 0 rgba(0, 0, 0, 0.25), 0 18px 51px 0 rgba(0, 0, 0, 0.20);
}

button:focus {
  outline: 0;
}

.active {
  background-color: #444;
  color: white;
}

.film-container {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
  padding: 0;
}

.film {
  flex: 0 0 calc(50% - 20px);
  margin: 10px 10px;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


p {
  color: #444;
}

.p-header {
  font-weight: 600;
}
@media (max-width: 720px) {
  .p-header {
      display: block;
  }
}
@media (max-width: 480px) {
  .film {
    flex-basis: calc(100% - 20px);
  }
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid;
    text-align: center;
    font-size: 35px;
    margin: 26px 100px 0;
    padding: 20px;
}